<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <h1>Static file hbs</h1>
        {{!-- <script src="../a.js"></script> --}}
        <!-- <script language="javascript">
            alert('Static file');
        </script> -->
        <img src="./yorokobe.jpg">
        <h2>{{title}}</h2>
        <p>roll 240 quac ra {{name}}</p>
    </body>
</html>